<div class="container">
  <h1>Your Uploads<button class="btn btn-success" style="align-self: right ;" (click)="upload()">Add Books</button>
                <button class="btn btn-success" style="align-self: right ;" (click)="logout()">Logout</button>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Download</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td><a [href]="getDownloadLink(book._id)" target="_blank" >download</a></td>
        <td><button class="btn btn-success" (click)="update(book._id)">Update/Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>