<div class="container">
	<form class="form-signin" (ngSubmit)="upload()" #uploadForm="ngForm">
		<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  {{message}}
		</div>
		<h2 class="form-signin-heading">Add Book Here:</h2>
		<label for="inputTitle" class="sr-only">Book Title</label>
		<input type="text" class="form-control" placeholder="Book Title" [(ngModel)]="bookData.title" name="title" required/>
		<label for="inputIsbn" class="sr-only">Book Title</label>
		<input type="text" class="form-control" placeholder="ISBN no." [(ngModel)]="bookData.isbn" name="isbn" required/>
		<label for="inputAuthor" class="sr-only">Book Title</label>
		<input type="text" class="form-control" placeholder="Author Name" [(ngModel)]="bookData.author" name="author" required/>
		<label for="inputPublisher" class="sr-only">Book Title</label>
		<input type="text" class="form-control" placeholder="Publisher Name" [(ngModel)]="bookData.publisher" name="publisher" required/>
		<button class="btn btn-lg btn-primary btn-block" type="submit"  >upload</button>
	</form>
</div>